%li.list
  = link_to item_path(item.id) do
    .item-img-content
      = image_tag item.image, class: "item-img"
      -# - if item.order.id.present?
      -# .sold-out
      -#   %span Sold Out!!
    .item-info
      %h3.item-name
        = item.name
      .item-price
        %span
          = item.price
          円
          %br>/
          (税込み)
        .star-btn
          = image_tag "star.png", class:"star-icon"
          %span.star-count 0